#content{
    padding: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#listings_area{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background-color: rgb(24, 23, 23);
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid white;
}

#search_bar{
    height: 2rem;
    width: 80vw;
    border-radius: 10px;
    background-color:rgb(29, 29, 29);
    border: 1px solid #c9a227;
    color: white;
    padding-left: 6px;
}

.listing{
    position: relative;
    color: white;
    border: 2px solid #c9a227;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer
}
.listing:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(68, 65, 65);
}
.listing:has(.fav_icon:hover) {
  background-color: rgb(24, 23, 23); /* same as .listing's non-hover background */
}
.fav_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fav_icon svg {
    transition: fill 0.3s ease;
}

svg.is-not-favourited {
    fill: none;
}
.fav_icon:hover svg.is-not-favourited {
    fill: rgb(236, 28, 80);
}

svg.is-favourited {
    fill: rgb(236, 28, 80);
}
.fav_icon:hover svg.is-favourited {
    fill: none;
}
.image{
   width: 300px;
   height: 200px;
}
@media(max-width: 1385px){
    .image{
        width: 250px;
        height: 180px;
    }
}
@media(max-width: 1190px){
    .image{
        width: 220px;
        height: 160px;
    }
}
@media(max-width: 1070px){
    .image{
        width: 190px;
        height: 160px;
    }
}
@media(max-width: 945px){
    .image{
        width: 170px;
        height: 150px;
    }
}
@media(max-width: 870px){
    .image{
        width: 150px;
        height: 140px;
    }
}
@media(max-width: 830px){
    #content{
        justify-content: flex-start;  
        align-items: center;          
        overflow-y: auto;
        min-height: 0;
        height: 100vh;
    }
    .image{
        width: 150px;
        height: 120px;
    }
    #search_bar{
        width: 70vw;
        margin-left: 50px;
    }
    #listings_area{
        margin-left: 50px;
        width: 70vw;
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media(max-width:820px)
{
    .image{
        width: 130px;
    }
}
@media(max-width:750px)
{
    .image{
        width: 110px;
        height: 110px;
    }
}
@media(max-width: 715px){
    #listings_area{
        margin-left: 70px;
        grid-template-columns: repeat(2, 1fr); 
        
    }
    #search_bar{
        margin-left: 70px;
    }
    .image{
        width: 150px;
        height: 110px;
    }
}
@media(max-width: 560px)
{
    #search_bar{
        margin-left: 80px;
    }
    #listings_area{
        margin-left: 80px;
        grid-template-columns: repeat(1, 1fr); 
    }
    .image{
        width: 250px;
        height: 200px;
    }
}
@media(max-width: 437px)
{
    .image{
        width: 220px;
        height: 170px;
    }
}
@media(max-width: 400px)
{
    #listings_area{
        border-style: none;
        background-color: transparent;
    }
}
@media(max-width:360px)
{
    .image{
        width: 180px; 
        height: 130px;
    }
}