body{
    align-items: flex-start;
}
#content{
    padding: 15px;
    display: flex;
    flex-direction: row;
}
#listings_area{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 23, 23);
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid white;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.listing{
    color: white;
    border: 2px solid #c9a227;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.image{
    width: 17vw; 
    height: 17vw;
}
@media(max-width:830px){
    #listings_area{
        margin-left: 80px;
       
    }

}
