{% extends "main_template.html" %}

{% block head %}
    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/edit_listing_page.css') }}" >
{% endblock %}

{% block content %}
 <div class ="content">

        <form action="/edit_listing" class = "listing_form" method="post" enctype="multipart/form-data">

            <div class ="upper_area">

                <div id ="general_area" class ="cell">

                    <h2>General information</h2>

                        <p>Brand</p>

                            <select class ="input_box" id ="makes_dropdown_list" name="make_id">

                                {% for b in brands %}
                                    <option value="{{b.id}}" class ="input_box" data-brand = "{{b.brand}}" {% if listing.make_id == b.id %}selected{% endif %}>{{b.brand.title()}}</option>
                                {% endfor %}

                                <option class="input_box" value="Other" data-brand = "Other" {% if listing.other_make %}selected{% endif %}>Other</option>
                                <option class="input_box" value="Unknown" {% if not listing.make_id and not listing.other_make %}selected{% endif %}>Unknown</option>

                            </select>

                            <br>

                            <input type="text" class ="input_box" style="display: none" id = "other_brand" value ="{{ listing.other_make or '' }}" placeholder ="other brand" name="other_make_id">

                        <br>

                        <p>Model</p>
                        <select class ="input_box" id="models_dropdown_list" name = "model_id" >
                        </select>

                         <br>

                            <input type="text" class ="input_box" style="display: none" id = "other_model" value ="{{ listing.other_model or '' }}" placeholder ="other model" name = "other_model_id">

                        <br>

                        <p>Model Year</p>
                        <input type="number" min="1800" max ="2026" value = "{{ listing.year or '' }}" class ="input_box" name = "year">

                        <br>
                        
                        <p>Body Style</p>
                        
                        <select class="input_box" id = "bs" name = "body_style">
                            {% for bs in body_styles %}
                                <option class="input_box" value="{{bs}}" {% if listing.body_style == bs %}selected{% endif %}>{{bs}}</option>
                            {% endfor %}
                        </select>

                         <br>

                        <input type="text" class ="input_box" style="display: none" id = "other_bs" placeholder ="other body style" name = "other_body_style">

                        <br>

                        <p>Mileage</p>

                        <div>
                            <input type="number" value="{{ listing.mileage or '' }}" class="input_box" id="mileageInput" name = "mileage">

                            <input type="radio" id="unitkm" name="MileageUnit" checked="true"value="km">
                            <label for="unitkm">km</label>

                            <input type="radio" id="unitmiles" name="MileageUnit" value="mile">
                            <label for="unitmiles">miles</label>
                        </div>

                        <br>

                        <p>Colour</p>
                        <input type="text" value = "{{ listing.colour or '' }}" class="input_box" name = "colour">

                        <br>
                        
                        <p>Price</p>
                        <div>
                            <input type="number" min="0" max="500000" value = "{{ listing.price or 0 }}" id = "PriceNumber" class ="input_box" name = "price">

                            <input type="radio" id="unitEuro" name="priceUnit" checked value="euro">
                            <label for="unitEuro">€</label>

                            <input type="radio" id="unitDollar" name="priceUnit" value="dollar">
                            <label for="unitDollar">$</label>

                        </div>
                        <input type="range" min="0" max="500000" value = "{{ listing.price or 0 }}" id = "PriceRange" >

                </div>

                <div id = "technicals_area" class ="cell">
                    
                    <h2>Technical details</h2>

                    <p>Power</p>

                    <div>

                        <input type="number" min="0" value = "{{ listing.power or '' }}" placeholder = "hp" class ="input_box" id = "ep" name = "power">
                        <input type="radio" id="unithp" name="enginePowerUnit" checked value = "hp">
                        <label for="unithp">hp(PS)</label>

                        <input type="radio" id="unitkW" name="enginePowerUnit" value = "kW">
                        <label for="unitkW">kW</label>

                    </div>

                        <br>
                        
                    <p>Engine displacement</p>

                    <div>
                        <input type="number" step="any" min="0" value = "{{ listing.displacement or '' }}" placeholder = "L"  class ="input_box" id = "ed" name = "displacement">

                        <input type="radio" id="unitL" name="engineDisplacementUnit" checked value="L">
                        <label for="unitL">L</label>

                        <input type="radio" id="unitCC" name="engineDisplacementUnit" value="cc">
                        <label for="unitCC">cc</label>

                    </div>

                        <br>
                        
                    <p>Fuel efficiency</p>

                    <div>

                        <input type="number" min="0" step="any" value = "{{ listing.fuel_efficiency or '' }}" placeholder = "l/100km"   class ="input_box" id="fe" name = "fuel_efficiency">
                        
                        <input type="radio" id="unitLkm" name="fuelEfficiencyUnit"  checked value="l/100km">
                        <label for="unitLkm">l/100km</label>

                        <input type="radio" id="unitmpg" name="fuelEfficiencyUnit" value="mpg">
                        <label for="unitmpg">mpg</label>
                    </div>

                    <br>

                    <p>Fuel type</p>

                    <select class ="input_box" id = "fuel_type" name = "fuel_type">
                        <option class="input_box" value="Gasoline(Petrol)" {% if listing.fuel_type == "Gasoline(Petrol)" %}selected{% endif %}>Gasoline(Petrol)</option>
                        <option class="input_box" value="Diesel" {% if listing.fuel_type == "Diesel" %}selected{% endif %}>Diesel</option>
                        <option class="input_box" value="LPG" {% if listing.fuel_type == "LPG" %}selected{% endif %}>LPG</option>
                        <option class="input_box" value="Electric" {% if listing.fuel_type == "Electric" %}selected{% endif %}>Electric</option>
                        <option class="input_box" value="Hybrid" {% if listing.fuel_type == "Hybrid" %}selected{% endif %}>Hybrid</option>
                        <option class="input_box" value="Plug-in Hybrid" {% if listing.fuel_type == "Plug-in Hybrid" %}selected{% endif %}>Plug-in Hybrid</option>
                        <option class="input_box" value="Other" {% if listing.fuel_type == "Other" %}selected{% endif %}>Other</option>
                        <option class="input_box" value="Unknown" {% if not listing.fuel_type %}selected{% endif %}>Unknown</option>
                    </select>

                    <br>

                    <input type="text" class ="input_box" style="display: none" id = "other_fuel" placeholder ="other fuel type" name = "other_fuel_Type">

                    <br>

                    <p>Engine configuration</p>

                    <select class ="input_box" id = "engine_config" name = "configuration">
                        {% for ec in engine_configurations %}
                            <option class ="input_box" value="{{ec}}" {% if listing.configuration == ec %}selected{% endif %}>{{ec}}</option>
                        {% endfor %}
                    </select>

                    <br>

                    <input type="text" class ="input_box" style="display: none" id = "other_config" placeholder ="other engine configuration" name = "other_configuration">

                    <br>

                    <p>Drivetrain</p>

                    <select class ="input_box" id = "drivetrain" name = "drivetrain">
                        <option class="input_box" value="FWD" {% if listing.drivetrain == "FWD" %}selected{% endif %}>FWD</option>
                        <option class="input_box" value="RWD" {% if listing.drivetrain == "RWD" %}selected{% endif %}>RWD</option>
                        <option class="input_box" value="AWD" {% if listing.drivetrain == "AWD" %}selected{% endif %}>AWD</option>
                        <option class="input_box" value="4WD" {% if listing.drivetrain == "4WD" %}selected{% endif %}>4WD</option>
                        <option class="input_box" value="Other" {% if listing.drivetrain == "Other" %}selected{% endif %}>Other</option>
                        <option class="input_box" value="Unknown" {% if not listing.drivetrain %}selected{% endif %}>Unknown</option>
                    </select>

                    <br>

                    <input type="text" class ="input_box" style="display: none" id = "other_drivetrain" placeholder ="other drivetrain" name = "other_drivetrain">

                    <p>Transmission</p>

                    <select class ="input_box" id = "trans" name = "transmission">
                        <option class="input_box" value="Manual" {% if listing.transmission == "Manual" %}selected{% endif %}>Manual</option>
                        <option class="input_box" value="Automatic" {% if listing.transmission == "Automatic" %}selected{% endif %}>Automatic</option>
                        <option class="input_box" value="Semi-Automatic" {% if listing.transmission == "Semi-Automatic" %}selected{% endif %}>Semi-Automatic</option>
                        <option class="input_box" value="Other" {% if listing.transmission == "Other" %}selected{% endif %}>Other</option>
                        <option class="input_box" value="Unknown" {% if not listing.transmission %}selected{% endif %}>Unknown</option>
                    </select>

                    <br>

                    <input type="text" class ="input_box" style="display: none" id = "other_trans" placeholder ="other transmission">

                </div>
                
            
            </div>

                <br>
                <br>
                
                <div id = "text_area" class ="cell">

                        <h2>Title</h2>
                        <div id = "title_area">

                        <input type = "text" class ="input_box" id = "title_box" name = "title" required  maxlength = "80" value = "{{ listing.title or '' }}">
                        <p id = "char_counter_t" style = "color:rgb(111, 111, 111)">0/80</p>

                        </div>

                        <br>

                        <h2>Description</h2>

                        <div id ="description_area">

                        <input type = "text" class ="input_box" id = "descp_box" name = "description" maxlength = "1000" value = "{{ listing.description or '' }}">
                        <p id = "char_counter_d" style = "color:rgb(111, 111, 111)">0/1000</p>

                        </div>
                </div>

                <br>
                <br>

                <div>
                        <input type="radio" id = "prvlst"  name="status" value="private" {% if listing.status == "private" %}checked{% endif %}>
                        <label for="prvlst">Private</label>

                        <input type="radio" id="pblst" name="status" value="public" {% if listing.status == "public" %}checked{% endif %}>
                        <label for="pblst">Public</label>
                </div>
                
                <br>
                <br>

                {% for m in get_flashed_messages() %}
                    <br>
                    <p style="color:rgb(139, 0, 0)">{{m}}</p>
                {% endfor %}

                <div style="display: flex; flex-direction: row; gap: 5px;">
                    <button type="submit" class ="btn">Submit changes</button>
                    <button class ="btn" style="background-color:rgb(86, 3, 0)">Cancel</button>
                </div>
        </form>

        
    </div>
     <script src = "{{ url_for( 'static' , filename = 'JavaScript/edit_listing_page.js')}}" ></script>
{% endblock %}