{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/general_page.css') }}" >

{% endblock %}

{% block content %}

<div id="content">

    <div id = "search_area">
            <input type = "text" id="search_bar" placeholder="Search">
    </div>

    <br>

    <div id = "listings_area">
            
    </div>

</div>
    <script src = "{{ url_for( 'static' , filename = 'JavaScript/general_page.js')}}" ></script>
{% endblock %}