{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/general_page.css') }}" >

{% endblock %}

{% block content %}

<div id="content">

    <br>
    
    <div id = "search_area">
            <input type = "text" id="search_bar" placeholder="Search">
    </div>

    <br>

        <div id = "filter_area">

            <div class = "filter_option_area" style="position:relative;">

                    <input id="make_input" placeholder="Brand" class="input_box">

                    <div class="dropdown_checkbox_list" id="makes_checkbox_list">

                        {% for b in brands %}
                            <label><input type="checkbox" value="{{b.id}}" class ="input_box" data-brand = "{{b.brand}}" name="brand">{{b.brand}}</label>
                        {% endfor %}

                    </div>

            </div>

            <div class = "filter_option_area" style="position:relative;">
                    
                    <input id="model_input" placeholder="Model" class="input_box">

                    <div class="dropdown_checkbox_list" id="models_checkbox_list">   </div>
            </div>

            <div class = "filter_option_area">
                    <label>Body style</label>
                    <select class="input_box" id = "bs" name = "body_style">
                        {% for bs in body_styles %}
                            <option class="input_box" value="{{bs}}">{{bs}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class = "filter_option_area">
                    <label>Fuel type</label>
                    <select class ="input_box" id = "fuel_type" name = "fuel_type">
                        {% for f in fuel_types %}
                            <option class="input_box" value="{{f}}">{{f}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class = "filter_option_area">
                    <label>Engine configuration</label>
                    <select class ="input_box" id = "engine_config" name = "configuration">
                        {% for e in engine_configurations %}
                            <option class="input_box" value="{{e}}">{{e}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class = "filter_option_area">
                    <label>Transmission</label>
                    <select class ="input_box" id = "trans" name = "transmission">
                        {% for t in transmissions %}
                            <option class="input_box" value="{{t}}">{{t}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class = "filter_option_area">
                    <label>Drivetrain</label>
                    <select class ="input_box" id = "drivetrain" name = "drivetrain">
                        {% for d in drivetrains %}
                            <option class="input_box" value="{{d}}">{{d}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class = "filter_option_area">
                    <label>Power</label>

                    <div class = "filter_option_area">
                        <p class="small_filter_text">Min</p>
                        <select class ="small_input_box" id = "min_power" name = "min_power">
                            {% for hp in hp_list %}
                                <option class="input_box" value="{{hp}}">{{hp}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class = "filter_option_area">
                        <p class="small_filter_text">Max</p>
                        <select class ="small_input_box" id = "max_power" name = "max_power">
                            {% for hp in hp_list %}
                                <option class="input_box" value="{{hp}}">{{hp}}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Year</label>

                    <div class = "filter_option_area">
                        <p class="small_filter_text">From</p>
                        <select class ="small_input_box" id = "from_year" name = "from_year">
                            {% for y in year_list %}
                                <option class="input_box" value="{{y}}">{{y}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class = "filter_option_area">
                        <p class="small_filter_text">To</p>
                        <select class ="small_input_box" id = "to_year" name = "to_year">
                            {% for y in year_list %}
                                <option class="input_box" value="{{y}}">{{y}}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Price</label>

                    <div class = "filter_option_area">
                        <p class="small_filter_text">From</p>
                        <select class ="small_input_box" id = "min_price" name = "min_price">
                            {% for p in price_list %}
                                <option class="input_box" value="{{p}}">{{p}} €</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class = "filter_option_area">
                        <p class="small_filter_text">To</p>
                        <select class ="small_input_box" id = "max_price" name = "max_price">
                            {% for p in price_list %}
                                <option class="input_box" value="{{p}}">{{p}} €</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>

    </div>

    <br>

    <div id = "listings_area">
            
    </div>

</div>
    <script> const userId = {{ session.get("user_id") | tojson }}; </script>
    <script src = "{{ url_for( 'static' , filename = 'JavaScript/general_page.js')}}" ></script>
{% endblock %}