{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/general_page.css') }}" >

{% endblock %}

{% block content %}

<div id="content">

    <br>
    
    <div id = "search_area">
            <input type = "text" id="search_bar" placeholder="Search">
    </div>

    <br>

        <div id = "filter_area">

            <div class = "filter_option_area" style="position:relative;">

                    <input id="make_input" placeholder="Brand" class="input_box filter_input" data-cblist = "makes_checkbox_list">

                    <div class="dropdown_checkbox_list" id="makes_checkbox_list">
                            <label><input type="checkbox" value="Any" class ="input_box make_checkbox" name="make" id="any_make_checkbox" checked>Any</label>
                             <label><input type="checkbox" value="Other" class ="input_box make_checkbox" name="make" id="other_make_checkbox" checked>Other</label>
                        {% for b in brands %}
                            <label><input type="checkbox" value="{{b.brand}}" class ="input_box make_checkbox" name="make" checked>{{b.brand}}</label>
                        {% endfor %}

                    </div>

            </div>

            <div class = "filter_option_area" style="position:relative;">
                    
                    <input id="model_input" placeholder="Model" class="input_box filter_input" data-cblist = "models_checkbox_list">

                    <div class="dropdown_checkbox_list" id="models_checkbox_list">   </div>
            </div>

            <div class = "filter_option_area" style="position:relative;">
                    <input id="body_style_input" placeholder="Body style" class="input_box filter_input" data-cblist = "body_styles_checkbox_list">

                    <div class="dropdown_checkbox_list" id="body_styles_checkbox_list">

                        {% for b in body_styles %}
                            <label><input type="checkbox" value="{{b}}" class ="input_box"  name="body_style" checked>{{b}}</label>
                        {% endfor %}

                    </div>
            </div>

            

            <div class = "filter_option_area" style="position:relative;">
                    <input id="fuel_type_input" placeholder="Fuel type" class="input_box filter_input" data-cblist = "fuel_types_checkbox_list">

                    <div class="dropdown_checkbox_list" id="fuel_types_checkbox_list">

                        {% for f in fuel_types %}
                            <label><input type="checkbox" value="{{f}}" class ="input_box"  name="fuel_type" checked>{{f}}</label>
                        {% endfor %}

                    </div>
            </div>

           <div class = "filter_option_area" style="position:relative;">
                    <input id="engine_config_input" placeholder="Engine configuration" class="input_box filter_input" data-cblist = "engine_configs_checkbox_list">

                    <div class="dropdown_checkbox_list" id="engine_configs_checkbox_list">

                        {% for e in engine_configurations %}
                            <label><input type="checkbox" value="{{e}}" class ="input_box"  name="engine_config" checked>{{e}}</label>
                        {% endfor %}

                    </div>
            </div>

            <div class = "filter_option_area" style="position:relative;">
                    <input id="transmission_input" placeholder="Transmission" class="input_box filter_input" data-cblist = "transmissions_checkbox_list">

                    <div class="dropdown_checkbox_list" id="transmissions_checkbox_list">

                        {% for t in transmissions %}
                            <label><input type="checkbox" value="{{t}}" class ="input_box"  name="transmission" checked>{{t}}</label>
                        {% endfor %}

                    </div>
            </div>

            <div class = "filter_option_area" style="position:relative;">
                    <input id="drivetrain_input" placeholder="Drivetrain" class="input_box filter_input" data-cblist = "drivetrains_checkbox_list">

                    <div class="dropdown_checkbox_list" id="drivetrains_checkbox_list">

                        {% for d in drivetrains %}
                            <label><input type="checkbox" value="{{d}}" class ="input_box"  name="drivetrain" checked>{{d}}</label>
                        {% endfor %}

                    </div>
            </div>

            <div class = "filter_option_area" style="position:relative;">
                    <input id="country_input" placeholder="Location" class="input_box filter_input" data-cblist = "countries_checkbox_list">

                    <div class="dropdown_checkbox_list" id="countries_checkbox_list">

                        {% for c in countries %}
                            <label><input type="checkbox" value="{{c}}" class ="input_box"  name="country" checked>{{c}}</label>
                        {% endfor %}
                        <label><input type="checkbox" value="Other" class ="input_box"  name="country" checked>Other</label>

                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Power</label>

                    <div style="display:flex;flex-direction:row;gap: 3px;">
                        <div class = "filter_option_area">
                            <p class="small_filter_text">Min</p>
                            <select class ="small_input_box min_input" data-max = "max_power" id = "min_power" name = "min_power">
                                {% for hp in hp_list %}
                                    <option class="input_box" value="{{hp}}">{{hp}} hp</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class = "filter_option_area">
                            <p class="small_filter_text">Max</p>
                            <select class ="small_input_box" id = "max_power" name = "max_power">
                                {% for hp in hp_list %}
                                    <option class="input_box" value="{{hp}}"  {% if hp == "1000" %}selected{% endif %}>{{hp}} hp</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Year</label>

                    <div style="display:flex;flex-direction:row;gap: 3px;">
                        <div class = "filter_option_area">
                            <p class="small_filter_text">From</p>
                            <select class ="small_input_box min_input" data-max = "max_year" id = "min_year" name = "min_year">
                                {% for y in year_list %}
                                    <option class="input_box" value="{{y}}">{{y}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class = "filter_option_area">
                            <p class="small_filter_text">To</p>
                            <select class ="small_input_box" id = "max_year" name = "max_year">
                                {% for y in year_list %}
                                    <option class="input_box" value="{{y}}" {% if loop.index == year_list | length  %}selected{% endif %}>{{y}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Price</label>

                    <div style="display:flex;flex-direction:row;gap: 3px;">
                        <div class = "filter_option_area">
                            <p class="small_filter_text">From</p>
                            <select class ="small_input_box min_input" data-max = "max_price" id = "min_price" name = "min_price">
                                {% for p in price_list %}
                                    <option class="input_box" value="{{p}}">{{p}} €</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class = "filter_option_area">
                            <p class="small_filter_text">To</p>
                            <select class ="small_input_box" id = "max_price" name = "max_price">
                                {% for p in price_list %}
                                    <option class="input_box" value="{{p}}" {% if p == "1000000" %}selected{% endif %}>{{p}} €</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>

            <div class = "filter_option_area">
                    <label>Engine displacement</label>

                    <div style="display:flex;flex-direction:row;gap: 3px;">
                        <div class = "filter_option_area">
                            <p class="small_filter_text">From</p>
                            <select class ="small_input_box min_input" data-max = "max_displacement" id = "min_displacement" name = "min_displacement">
                                {% for d in displacement_list %}
                                    <option class="input_box" value="{{d}}" >{{d}} l</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class = "filter_option_area">
                            <p class="small_filter_text">To</p>
                            <select class ="small_input_box" id = "max_displacement" name = "max_displacement">
                                {% for d in displacement_list %}
                                    <option class="input_box" value="{{d}}" {% if d == 20.0 %}selected{% endif %}>{{d}} l</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>

             <div class = "filter_option_area">
                    <label>Mileage</label>

                    <div style="display:flex;flex-direction:row;gap: 3px;">
                        <div class = "filter_option_area">
                            <p class="small_filter_text">From</p>
                            <select class ="small_input_box min_input" data-max = "max_mileage" id = "min_mileage" name = "min_mileage">
                                {% for m in mileage_list %}
                                    <option class="input_box" value="{{m}}">{{m}} km</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class = "filter_option_area">
                            <p class="small_filter_text">To</p>
                            <select class ="small_input_box" id = "max_mileage" name = "max_mileage">
                                {% for m in mileage_list %}
                                    <option class="input_box" value="{{m}}" {% if m == "1000000" %}selected{% endif %}>{{m}} km</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>

            <div class = "filter_option_area">
                        <label>Max Consumption</label>
                        <select class ="small_input_box" id = "max_fuel_ef" name = "max_fuel_ef">
                            {% for fe in fuel_efficiency_list %}
                                <option class="input_box" value="{{fe}}" {% if fe == 20.0 %}selected{% endif %}>{{fe}} l/100km</option>
                            {% endfor %}
                        </select>
            </div>

        </div>

        <br>

        <div style="display:flex; flex-direction:row;gap: 5px;" id ="filter_buttons_area">
            <button type="button" class ="btn" onclick="apply_filters()">Apply filters</button>
            <button type="button" class ="btn" onclick="clear_filters()">Clear filters</button>
        </div>

        <br>

        <select class="input_box" id="sort_listings_select">
            <option value="newest">Newest listings</option>
            <option value="price_asc">Price: ascending</option>
            <option value="price_desc">Price: descending</option>
            <option value="mileage_asc">Mileage: ascending</option>
            <option value="mileage_desc">Mileage: descending</option>
            <option value="year_desc">Age: ascending </option>
            <option value="year_asc">Age: descending </option>
        </select>

        <br>

        <div id = "listings_area">
            
        </div>

        <div style="display:flex; flex-direction:row;gap: 5px; align-items: center;justify-content: center;">
                <button type="button" class="pag_btn" id = "previous_page_btn" onclick="previouspage()" > < </button>
                <p id="current_page" class="input_box"></p>
                <button type="button" class="pag_btn" id = "next_page_btn" onclick="nextpage()" > > </button>
        </div>
</div>
    <script> const userId = {{ session.get("user_id") | tojson }}; </script>
    <script src = "{{ url_for( 'static' , filename = 'JavaScript/general_page.js')}}" ></script>
{% endblock %}