<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel = "stylesheet" href = "{{ url_for('static' , filename = 'CSS/index.css') }}">

        <title>AutobAI</title>

    </head>
    
    <body>
            <div id = "central_content">

                <strong id = "logo"> Autob<span id ="part">AI </span> </strong>

                <div id = "cont">
                    <div id="c1" class = "cell" >

                        <h1 class ="text"> Search </h1>
                        <svg class ="p" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                        </svg>
                    </div>

                    <div id = "c2" class ="cell">
                        <h1 class ="text"> Evaluate </h1>
                        <svg class ="p" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-scale">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 20l10 0" />
                            <path d="M6 6l6 -1l6 1" />
                            <path d="M12 3l0 17" />
                            <path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
                            <path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
                        </svg>
                    </div>

                    <div id = "c3" class ="cell">
                        <h1 class ="text"> Purchase </h1>
                        <svg class ="p" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304" />
                            <path d="M9 11v-5a3 3 0 0 1 6 0v5" />
                        </svg>
                    </div>

                    
                </div>

                <h2> Find your new automobile today </h2>

                

                <button id = "btn" onclick = "window.location.href='/maint'"><strong>Begin</strong></button>


            </div>

    </body>

</html>