<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/main_template.css') }}" >
        {% block head %}
        {% endblock %}

        <title>AutobAI</title>

    </head>

    <body>
        
        <div class = "upper_nav_bar">

                <strong id = "logo"> Autob<span id ="part">AI </span> </strong>
                
                <div id ="btn_area">

                    <button class ="btn" onclick = "window.location.href='/genp'">Browse</button>

                    {% if session.get("user_id") %}

                    <button class ="btn">My listings</button>

                    <button class ="btn" onclick = "window.location.href='/mklistp'">Make listing</button>
                    
                    {% endif %}

                    

                    <button class ="btn" onclick = "window.location.href='/predictp'">Predict value</button>


                </div>

                <div id ="pic_area">

                    {% if not session.get("user_id") %}
                        <button class ="btn" onclick = "window.location.href='/regp'">Register</button>
                        <button class ="btn" onclick = "window.location.href='/loginp'">Login</button>
                    {% endif %}

                    <svg id = "chatpic" class = "pic"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z" />
                    </svg>

                    {% if session.get("user_id") %}

                    <svg id = "userpic" class = "pic" onclick = "window.location.href='/accountp'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>

                    {% endif %}

                    <svg id = "infopic" class = "pic" onclick = "window.location.href='/infop'" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                    </svg>
                </div>



        </div>

        {% block content %}
        {% endblock %}

    </body>

</html>