{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/make_listing_page.css') }}" >

{% endblock %}

{% block content %}

<br>

    <div class ="content">

        <form class = "listing_form" enctype="multipart/form-data">

            <div class ="upper_area">

                <div id ="general_area" class ="cell">

                    <h2>General information</h2>

                        <p>Brand</p>

                        <select class ="input_box" id ="makes_dropdown_list">

                            {% for b in brands %}
                                <option value="{{b.brand}}" class ="input_box">{{b.brand.title()}}</option>
                            {% endfor %}

                        </select>

                        <br>

                        <p>Model</p>
                        <select class ="input_box" id="models_drodown_list">
                        </select>

                        <br>

                        <p>Model Year</p>
                        <input type="number" min="1800" max ="2026" placeholder = "year" class ="input_box">

                        <br>
                        
                        <p>Body Style</p>
                        
                        <select class="input_box">
                            {% for bs in body_styles %}
                                <option class="input_box" value="{{bs}}">{{bs}}</option>
                            {% endfor %}
                        </select>

                        <br>

                        <p>Colour</p>
                        <input type="text" placeholder = "colour" class="input_box">

                        <br>
                        
                        <p>Price</p>
                        <div>
                            <input type="number" min="0" max="500000" value = "0" id = "PriceNumber" class ="input_box">
                            <input type="range" min="0" max="500000" value = "0" id = "PriceRange">
                        </div>

                </div>

                <div id = "technicals_area" class ="cell">
                    
                    <h2>Technical details</h2>

                    <p>Power</p>

                    <div>

                        <input type="number" min="0"  placeholder = "hp" class ="input_box" id = "ep">
                        <input type="radio" id="unithp" name="enginePowerUnit" checked>
                        <label for="unithp">hp(PS)</label>

                        <input type="radio" id="unitkW" name="enginePowerUnit" >
                        <label for="unitkW">kW</label>

                    </div>

                        <br>
                        
                    <p>Engine displacement</p>

                    <div>
                        <input type="number" min="0" placeholder = "L"  class ="input_box" id = "ed">

                        <input type="radio" id="unitL" name="engineDisplacementUnit" checked>
                        <label for="unitL">L</label>

                        <input type="radio" id="unitCC" name="engineDisplacementUnit" >
                        <label for="unitCC">cc</label>

                    </div>

                        <br>
                        
                    <p>Fuel efficiency</p>

                    <div>

                        <input type="number" min="0" placeholder = "l/100km"   class ="input_box" id="fe">
                        
                        <input type="radio" id="unitLkm" name="fuelEfficiencyUnit"  checked>
                        <label for="unitLkm">l/100km</label>

                        <input type="radio" id="unitmpg" name="fuelEfficiencyUnit">
                        <label for="unitmpg">mpg</label>
                    </div>

                    <br>

                    <p>Engine configuration</p>

                    <select class ="input_box">
                        {% for ec in engine_configurations %}
                            <option class ="input_box" value="{{ec}}">{{ec}}</option>
                        {% endfor %}
                    </select>

                </div>
                
            
            </div>

                <br>
                <br>

                <div id ="img_area" class ="cell">

                        <h2>Add images</h2>
                         <input type="file" name="carImages" accept="image/*" multiple>
                </div>

                <br>
                <br>
                
                <div id = "description_area" class ="cell">
                        <h2>Description</h2>
                        <input type = "text" class ="input_box" id = "descp_box">
                </div>

                <br>
                <br>

                <button type="submit" class ="btn">Submit listing</button>
        </form>

    </div>

    <script src = "{{ url_for( 'static' , filename = 'JavaScript/make_listing_page.js')}}" ></script>

{% endblock %}