{% extends "main_template.html" %}

{% block head %}

     <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/my_listings_page.css') }}" >

{% endblock %}

{% block content %}

    <div id = "content">

            <div id = "listings_area">

                    
            </div>
            
            <div style="display:flex; flex-direction:row;gap: 5px; align-items: center;justify-content: center;">
                <button type="button" class="pag_btn" id = "previous_page_btn" onclick="previouspage()" > < </button>
                <p id="current_page" class="input_box"></p>
                <button type="button" class="pag_btn" id = "next_page_btn" onclick="nextpage()" > > </button>
            </div>

        <script>const userId = {{ user_id | tojson }};</script>
        <script src = "{{ url_for( 'static' , filename = 'JavaScript/my_listings_page.js')}}" ></script>
        
        
    </div>
{% endblock %}