{% extends "main_template.html" %}

{% block head %}

     <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/my_listings_page.css') }}" >

{% endblock %}

{% block content %}

    <div id = "content">

            <div id = "listings_area">

                    
            </div>
        
        <script>const userId = {{ user_id | tojson }};</script>
        <script src = "{{ url_for( 'static' , filename = 'JavaScript/my_listings_page.js')}}" ></script>
        
        
    </div>
{% endblock %}