{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/register_page.css') }}" >

{% endblock %}

{% block content %}

      <div class ="content">

        <h1>Register</h1>
                <form class ="reg_form" method = "POST" action = "/submit_registration">

                    <h2>Account information</h2>

                    <br>

                    <h3>Username</h3>
                        <div class="mandatory_field_div">
                        <input type="text" class ="input_box" name = "username" required required minlength="5" maxlength="20">
                        <p style="color:red" class="astk">*</p>
                    </div>
                    <br>

                    <h3>Email</h3>
                    <div class="mandatory_field_div">
                        <input type="text" class ="input_box" name = "email" required >
                        <p style="color:red" class="astk">*</p>
                    </div>
                    <br>
                    
                    <h3>Password</h3>
                    <div class="mandatory_field_div">
                        <input type="password" class ="input_box" name = "password" required required minlength="5" maxlength="20">
                        <p style="color:red" class="astk">*</p>
                    </div>
                    <br>
                    
                    <h3>Confirm password</h3>
                    <div class="mandatory_field_div">
                        <input type="password" class ="input_box" name = "cpassword" required required minlength="5" maxlength="20">
                        <p style="color:red" class="astk">*</p>
                    </div>
                    <br>

                    <h2>Profile information</h2>

                    <br>

                    <h3>Phone number</h3>
                    <input type="tel" name="phone" class = "input_box" >

                    <br>

                    <h3>Website</h3>
                    <input type="text" name="website_url" class = "input_box" placeholder="eg. https://mywebsite.com" >

                    <br>

                    <h3>User type</h3>
                    <select name="user_type" class = "input_box" style="text-align: center">
                        <option value="Other"> Other / Unspecified </option>
                            {% for ut in user_types if ut != "Other" %}
                                <option value="{{ut}}"> {{ut}} </option>
                            {% endfor %}
                    </select>

                    <br>
                     <h3>Adress</h3>
                    <div id="adress_area" style="display:flex; flex-direction:column; gap:20px; justify-content: center; align-items:center;">

                        <div style="display:flex; flex-direction:row; gap:10px;">

                            <select name="country" class = "input_box" style="text-align: center" id = "country_select">
                                    {% for c in countries %}
                                        {% if c != "Other" %}
                                        <option value="{{c}}">{{c}}</option>
                                            {% else %}
                                        <option value="Other">Other / Unspecified </option>
                                        {% endif %}
                                    {% endfor %}
                            </select>

           
                                <input type="text" name="city" class = "input_box" placeholder="City" style="text-align: center">
                                

                        </div>

                        <input type="text" name="street" class = "input_box" placeholder="Street" style="text-align: center">

                    </div>

                    <br>

                    <button type="submit" class ="btn">Create account</button>

                    {% for m in get_flashed_messages() %}
                        <br>
                        <p style="color:rgb(139, 0, 0)">{{m}}</p>
                    {% endfor %}
                </form>
            <p>Already have an account?</p>
            <p onclick = "window.location.href='/loginp'" id ="login_txt">Login</p>

    </div> 
        
    <script src = "{{ url_for( 'static' , filename = 'JavaScript/register_page.js')}}" ></script>
{% endblock %}
