{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/send_resetemail__password_page.css') }}" >

{% endblock %}

{% block content %}

    <div class ="content">

        <form action="/resetpassword/{{token}}" class="login_form" method="POST">

            <input type="password" class ="input_box" name = "new_password" placeholder = "New password" required >
            <input type="password" class ="input_box" name = "confirm_new_password" placeholder = "Confirm new password" required >

            <br>
            <div style="display:flex;flex-direction:row;gap:10px;">
                <button type="submit" class ="btn">Confirm password change</button>
                <button type="button" class ="btn" onclick = "window.location.href='/loginp'">Cancel</button>
            </div>
        </form>
        
        
    </div>

{% endblock %}