{% extends "main_template.html" %}

{% block head %}

    <link rel = "stylesheet" href = "{{ url_for( 'static' , filename = 'CSS/send_resetemail__password_page.css') }}" >

{% endblock %}

{% block content %}

    <div class ="content">

        <form action="/sendresetemail" class="login_form" method="POST">

            <h3>Input your account's Email</h3>
            <input type="text" class ="input_box" name = "email" required >
            <br>
            <div style="display:flex;flex-direction:row;gap:10px;">
                <button type="submit" class ="btn">Send reset email</button>
                <button type="button" class ="btn" onclick = "window.location.href='/loginp'">Cancel</button>
            </div>
        </form>
        
        {% if sent %}

        <div>
            <h2>Reset email sent</h2>
        </div>

        {% endif %}
        
    </div>

{% endblock %}